html {
	font-size: 14px;
}

.navbar {
	box-shadow: 5px 5px 18px #888888;
}

.navbar-light {
	display: flex;
	background-color: #2FDD92;
}

.navbar-brand {
	font-family: 'Caveat Brush', cursive;
	color: #2FDD92;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 2em;

}

.navbar-brand:hover {
	color: #34BE82;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	color: white;
	outline-color: #2FDD92;
	outline-style: auto;
	margin: 3px;
	background-color: #2FDD92;
}

.nav-link:hover {
	font-family: 'Caveat Brush', cursive;
	color: #34BE82;
}

button.btn.btn-success,
.navbar-toggler {
	background-color: #2FDD92;
	outline-color: #2FDD92;
	outline-style: auto;
	font-family: 'Caveat Brush', cursive;
}


@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}
